<%= render(Primer::TitleComponent.new(title: 'Edit Account')) %>

<%= form_with model: @account, url: profile_path, method: :patch do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= exceptional_messages @account.name %>
  </p>

  <p>
    <%= f.label :avatar %><br>

    <div class="flex flex-row">
      <div class="flex-shrink-0">
        <%= render(Accounts::AvatarComponent.new(account: @account)) %>
      </div>
      <div class="p-2 flex-1 min-w-0">
        <%= f.file_field :avatar %>
        <%= error_messages @account, :avatar %>
      </div>
    </div>
  </p>

  <p class="mt-5">
    <%= render(Primer::ButtonComponent::Primary.new(type: :submit)) { 'Update account' } %>
  </p>
<% end %>
