<%= render(Primer::TitleComponent.new(title: 'Register now for cloniter')) %>

<%= form_with model: @account, url: sign_up_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= exceptional_messages @account.name %>
  </p>

  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
    <%= exceptional_messages @account.username %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
    <%= error_messages @account, :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
    <%= error_messages @account, :password_confirmation %>
  </p>

  <p class="mt-5">
    <%= render(Primer::ButtonComponent::Primary.new(type: :submit)) { 'Sign in' } %>
  </p>
<% end %>
