<h1 class="text-3xl font-bold underline mb-5">Sign In</h1>

<%= form_with url: sign_in_path do |f| %>
  <p>
  <%= f.label 'username:'%><br>
  <%= f.text_field :username, id: 'username' %>
  </p>
  <p>
  <%= f.label 'password:'%><br>
  <%= f.password_field :password, id: 'password' %>
  </p>
  <p class="mt-5">
  <%= f.submit 'Log In', class: 'btn-primary' %>
  </p>
<% end %>
