<%= render(Primer::TitleComponent.new(title: 'Sign In')) %>

<%= form_with url: sign_in_path do |f| %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username, id: 'username' %>
  </p>
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password, id: 'password' %>
  </p>
  <p class="mt-5">
    <%= render(Primer::ButtonComponent::Primary.new(type: :submit)) { 'Log In' } %>
  </p>
<% end %>
