<div class="justify-center">
  <div class="mb-5 block p-6 rounded-lg shadow-lg bg-white max-w-sm">
    <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2"><%= account.name %></h5>
    <p class="text-gray-700 text-base mb-4">
      <%= account.username %>
    </p>
    <% if current_account.follows?(account) %>
      <%= link_to follower_path(account.id),
        class: 'inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out',
        data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do
      %>
        Unfollow
      <% end %>
    <% else %>
      <%= form_with url: followers_path do |f| %>
        <%= hidden_field_tag :id, account.id  %>
        <%= f.submit 'Follow', class: 'inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out' %>
      <% end %>
    <% end %>
  </div>
</div>
