<div class="sticky top-0 p-4 w-full">
  <ul class="flex flex-col overflow-hidden">
    <%= current_account.name %>

    <% if current_account.authenticated? %>
      <%= link_to 'New Tweet', new_tweet_path, data: { turbo_frame: 'new_tweet' }, class: 'btn-primary' %>

      <p><%= link_to 'Tweets', tweets_path %></p>

      <p><%= link_to 'Users', accounts_path %></p>
      or
      <%= button_to 'Logout', logout_path, method: :delete, class: 'btn-default' %>
    <% else %>
      <%= link_to 'Register', sign_up_path, class: 'btn-action' %>
      or
      <%= link_to 'go in', sign_in_path, class: 'btn-default' %>
    <% end %>
  </ul>
</div>
