<!DOCTYPE html>
<html>
  <head>
    <title>Cloniter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="my-auto w-full">
    <div class="container mx-auto">
      <div class="flex flex-row flex-wrap">

        <aside class="w-full sm:w-1/3 md:w-1/4 px-2">
          <div class="min-h-screen flex flex-col flex-auto flex-shrink-0 antialiased bg-gray-50 text-gray-800">
            <%= render Sidebars::RegisteredComponent.new(account: current_account) do |c| %>
              <% c.with_sections([
                {
                  name: current_account.name,
                  links: [
                    { name: 'New Tweet', link: new_tweet_path, icon: :task, opts: {data: { turbo_frame: 'new_tweet' }}},
                    { name: 'Feed', link: feed_path, icon: :feed },
                    { name: 'Tweets', link: tweets_path, icon: :speech },
                    { name: 'Users', link: accounts_path, icon: :users }]
                },
                {
                  name: 'Settings',
                  buttons: [
                    { name: 'Logout', link: logout_path, icon: :logout },
                  ]
                }
              ]) %>
            <% end %>

            <%= render Sidebars::AnonymousComponent.new(account: current_account) do |c| %>
              <% c.with_sections([
                {
                  name: current_account.name,
                  links: [
                    { name: 'Register', link: sign_up_path, icon: :task },
                    { name: 'Go in', link: sign_in_path, icon: :users }
                  ]
                }
              ]) %>
            <% end %>
          </div>
        </aside>

        <main role="main" class="w-full sm:w-2/3 md:w-3/4 pt-1 px-2">
          <%= render AlertComponent::Info.new(message: notice) %>
          <%= render AlertComponent::Alert.new(message: alert) %>

          <%= turbo_frame_tag 'new_tweet' %>

          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
